
<%= form_with model: @project do |form| %>
    <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
  
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control', required: true %>
    </div>
  
    <div class="mb-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_area :description, class: 'form-control', rows: 3 %>
    </div>
    
    <div class="checkbox-list mb-3">
     <%= form.label :user_ids, 'Assign Users (Select multiple)', class: 'form-label' %>
      <%= form.collection_check_boxes :user_ids, User.where(user_type: [:developer, :qa]), :id, :name do |user| %>
        <div class="form-check">
          <%= user.check_box(class: 'form-check-input') %>
          <%= user.label(class: 'form-check-label') %>
        </div>
      <% end %>
    </div>
  
  
    <div>
      <%= form.submit @project.new_record? ? 'Create Project' : 'Update Project', class: 'btn btn-primary' %>
    </div>
  <% end %>
  <div class='mt-2'>
  <%= link_to "Back", :back %>
  </div>
  