<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bug Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

<div class="container-flouid">
<% flash.each do |key, message| %>
  <% alert_class = case key.to_sym
    when :notice then 'alert-success'
    when :alert  then 'alert-danger'
    when :error  then 'alert-danger'
    when :info   then 'alert-info'
    else 'alert-warning'
  end %>
  
  <div class="alert alert-dismissible fade show m-0 <%= alert_class %>">
    <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

  <nav class="navbar navbar-expand-lg " style="background-color: rgba(224, 224, 216, 0.82);">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>Bug Tracker</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          <% if current_user.developer? %>
           <%= link_to 'My Tasks', my_tasks_path, class:'nav-link active' %>
          <% end %>
          </li>
          <li class="nav-item">
              <%= link_to "Home", projects_path, class:'nav-link active' %>
          </li>
          <li class="nav-item">
            <% if current_user %>
              <%= link_to "Edit Profile",edit_user_registration_path, class:'nav-link active' %>
            <% end %>
          </li>
        </ul>
          <%= button_to "Logout", destroy_user_session_path, class:'btn btn-danger  ml-3', method: :delete, data: { method: :delete} %>
      </div>
    </div>
  </nav>
  <div class="container p-5">
  
  <%= yield %>
  </div>
</div>
  </body>
</html>
